.navbar{
    background-color: #21a567 !important;
    color: black !important;
}

.navbar a{
    /* background-color: #21a5678f !important; */
    color: black !important;
}

.navbar button{
    /* background-color: #21a5678f !important; */
    color: black !important;
    text-decoration:none !important
}

.signout{
    height: 20px;
    font-size: 0.8rem !important;
    margin: 0px !important;
    width: 8em !important;
    padding: 0px !important;
    }

.signout:hover{
    border: 1px solid green ;
    background-color: green;
    padding: 7px;
}


